[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server \
    --server https://{{ server_ip }}:6443 \
    --token-file /var/lib/rancher/k3s/server/node-token \
    --etcd-arg advertise-client-urls=https://{{ k3s_node_ip }}:2379 \
    --etcd-arg initial-advertise-peer-urls=https://{{ k3s_node_ip }}:2380 \
    --etcd-arg initial-cluster-token=k3s-etcd-cluster \
    --etcd-arg listen-client-urls=https://0.0.0.0:2379 \
    --etcd-arg listen-peer-urls=https://0.0.0.0:2380
KillMode=process
Delegate=yes
Restart=always
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
